<section class="boxMois">
    <img src="{{ 'backgroundImageMois.svg' | asset_url }}" alt="{{ shop.name }}" class="background">
    <div class="boxMois__container container">
        <div class="boxMois__container__left">
            <img src="{{ 'imageBoxMois.svg' | asset_url }}" alt="{{ shop.name }}">
        </div>
        <div class="boxMois__container__right">
            <div class="boxMois__container__right__titre">
                <h1>{{ section.settings.title }}</h1>
                <p>{{ section.settings.subTitle }}</p>
            </div>
            <div class="boxMois__container__right__button">
                <a href="#" class="subscribe btn">S'abonner</a>
                <a href="#" class="unity btn">Commander la box à l'unité</a>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Section Box du mois",
  "class": "section-boxMois",
   "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Titre"
        },
        {
            "type": "text",
            "id": "subTitle",
            "label": "Sous titre"
        }
   ]
}
{% endschema %}