<footer class="footer">
    <div class="footer__leftSection">
        <div class="footer__leftSection__logo">
            <img src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}">
        </div>
        <div class="footer__leftSection__baseline">
            <p>{{ section.settings.baseline }}</p>
        </div>
        <div class="footer__leftSection__footer-rs">
            <a href="{{ section.settings.url_Facebook }}"><img src="{{ 'Facebook.svg' | asset_url }}"
                    alt="{{ shop.name }}"></a>
            <a href="{{ section.settings.url_Instagram }}"><img src="{{ 'Instagram.svg' | asset_url }}"
                    alt="{{ shop.name }}"></a>
            <a href="{{ section.settings.url_Youtube }}"><img src="{{ 'YouTube.svg' | asset_url }}"
                    alt="{{ shop.name }}"></a>
        </div>
    </div>
    <div class="footer__rightSection">
        {% for link in linklists.footer.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
        <div class="footer__rightSection-content">
            <h2>{{ link.title }}</h2>
            <ul>
                {% for childlink in linklists[child_list_handle].links %}
                <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endif %}
        {% endfor %}
        <div class="footer__rightSection-content">
            <h2>CONTACT</h2>
            <ul>
                <li>
                    <a href="mailto:{{ section.setings.email }}"><img src="{{ 'mail.svg' | asset_url }}"
                            alt="{{ shop.name }}">{{ section.settings.email }}</a>
                </li>
                <li>
                    <a href="tel:{{ section.settings.phone }}"><img src="{{ 'Phone.svg' | asset_url }}"
                            alt="{{ shop.name }}">{{ section.settings.phone }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__bottomSection">
        <a href="{{ section.settings.url_politique }}">Politique de protection des données </a>
        <a href="{{ section.settings.url_conditions }}">Conditions d’utilisation </a>
        <a href="{{ section.settings.url_mentions }}">Mentions Légales</a>
    </div>
</footer>


{% schema %}
{
"name": "Footer",
"class": "section-footer",
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "Image du logo"
},
{
"type": "text",
"id": "baseline",
"label": "Baseline"
},
{
"type": "text",
"id": "url_Facebook",
"label": "URL FACEBOOK"
},
{
"type": "text",
"id": "url_Instagram",
"label": "URL INSTAGRAM"
},
{
"type": "text",
"id": "url_Youtube",
"label": "URL YOUTUBE"
},
{
"type": "text",
"id": "phone",
"label": "Numéro de téléphone"
},
{
"type": "text",
"id": "email",
"label": "Adresse email"
},
{
"type": "text",
"id": "url_politique",
"label": "URL Politique"
},
{
"type": "text",
"id": "url_conditions",
"label": "URL conditions"
},
{
"type": "text",
"id": "url_mentions",
"label": "URL mentions"
}
]
}
{% endschema %}

{% javascript %}
    let tabTitle = document.querySelectorAll(".footer__rightSection-content h2");
    let tabUl = document.querySelectorAll(".footer__rightSection-content ul");
    tabTitle.forEach(function(items,i){
        items.addEventListener("click",function(){
            tabUl[i].classList.toggle("active");
        });
    });
{% endjavascript %}