<header class="header">
    <div class="header__burger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="header__logo">
        <a href="/"><img src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}"></a>
    </div>
    <nav class="header__nav">
        <ul>
            {% for link in linklists.main-menu.links %}
                {% assign child_list_handle = link.title | handleize %}
                {% if linklists[child_list_handle].links != blank %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    <div class="childlinks">
                        <ul>
                            {% for childlink in linklists[child_list_handle].links %}
                                <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                                {% endfor %}
                        </ul>
                    </div>
                    {% else %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    {% if shop.customer_accounts_enabled %}
    <div class="header__account">
        <ul>
            <li><button class="searchIcon"><img src="{{ 'search.svg' | asset_url }}" alt=""></button></li>
            {% if customer %}
            <li><a href="/account"><img src="{{ 'user.svg' | asset_url }}" alt=""></a></li>
            <!-- <li>{{ 'log out' | customer_logout_link }}</li> -->
            {% else %}
            <li><a href="/account"><img src="{{ 'user.svg' | asset_url }}" alt=""></a></li>
            <!-- <li>{{ 'log in ' | customer_login_link }}</li>
            <li>{{ 'register' | customer_register_link }}</li> -->
            {% endif %}
            <li><a href="/cart"><img src="{{ 'cart.svg' | asset_url }}" alt=""></a></li>
    </div>
    {% endif %}
    <div class="header__searchBar">
        <form action="/search" role="search">
            <input type="text" name="q" value="{{ search.terms | escape }}" placeholder="Recherche">
            <button class="searchIcon"><img src="{{ 'search.svg' | asset_url }}" alt=""></button>
        </form>
        <button class="closeIcon"><img src="{{ 'close.svg' | asset_url }}" alt=""></button>
    </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": []
  }
{% endschema %}