<section class="heroBanner">
    <div class="heroBanner__main container">
        <div class="heroBanner__main__title">
            <h1>
                LA BOX DE VIN
                <img class="desktop" src="{{ 'heroBanner_1.svg' | asset_url }}" alt="{{ shop.name }}">
                <span>POUR</span>
                <img class="desktop" src="{{ 'heroBanner_2.svg' | asset_url }}" alt="{{ shop.name }}">
                <span>LES AMOUREUX</span>
                <img src="{{ 'heroBanner3.svg' | asset_url }}" alt="{{ shop.name }}">
                <span>DE LA</span>
                <img class="desktop" src="{{ 'heroBanner_4.svg' | asset_url }}" alt="{{ shop.name }}">
                NATURE ET DE SES SAVEURS
                <img src="{{ 'heroBanner_5.svg' | asset_url }}" alt="{{ shop.name }}">
            </h1>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "heroHeader",
    "settings": []
  }
{% endschema %}