<section class="newsletter">
    <img src="{{ 'newsletter_background.svg' | asset_url }}" alt="{{ shop.name }}">
    <div class="newsletter__container">
        <div class="newsletter__container__title swiper mySwiper">
            <div class="swiper-wrapper">
                {% for avis in section.blocks %}
                    <div class="swiper-slide">
                        <h3>{{ avis.settings.avisClient }}</h3>
                        <p>{{avis.settings.avisClientSousTitre}}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="newsletter__container__main">
            <div class="newsletter__container__main__content">
                <div class="newsletter__container__main__content__title">
                    <p class="title">{{ section.settings.title }}</p>
                    <p>{{ section.settings.subTitle }}</p>
                </div>
                <div class="swiper-pagination"></div>
                <div class="newsletter__container__main__content__form">
                    <form class="newsletter-form">
                        <input class="required" type="email" id="email" name="email" placeholder="email@exemple.com" />
                        <button type="submit">S'inscrire</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="module">    
    const swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        loop: true,
        autoplay: {
          delay: 5000,
          disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>

{% schema %}
{
  "name": "newsletter",
  "class": "section-newsletter",
  "blocks": [
     {
       "name": "Avis Client",
       "type": "slide",
       "settings": [
        {
        "type": "text",
        "id": "avisClient",
        "label": "Avis client"
        },
        {
        "type": "text",
        "id": "avisClientSousTitre",
        "label": "Sous titre avis client"
        }
       ]
     }
   ],
   "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Titre"
        },
        {
            "type": "text",
            "id": "subTitle",
            "label": "Sous titre"
        }
   ]
}
{% endschema %}